<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,36}</string>
                <key>spriteSourceSize</key>
                <string>{270,38}</string>
                <key>textureRect</key>
                <string>{{1,259},{270,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{360,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,339}</string>
                <key>spriteSourceSize</key>
                <string>{4,339}</string>
                <key>textureRect</key>
                <string>{{1,253},{4,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>topscore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,250}</string>
                <key>spriteSourceSize</key>
                <string>{357,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{357,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>topscene.png</string>
            <key>size</key>
            <string>{489,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb542e9453723399327964aa260fa7ee:f79b2de6b2257b3575433efd6b485aa8:8dd25830b44aeea8103f10ae2b608e29$</string>
            <key>textureFileName</key>
            <string>topscene.png</string>
        </dict>
    </dict>
</plist>
